<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krunker Market</title>
</head>
<body>
    <h2>Krunker Market Buddy</h2>
    <br>
    <%- body %>
</body>
</html>